$color-primary: #00BAFC;
$color-light: #ffffff;
$color-red: crimson;
$color-black:#000000;
$color-gray: #F3F3F3;
$color-footer_bg: #191919;

$content-width: 1100px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;