.navigation {
  display: flex;
  gap: 32.5px;
}

.navigation__link {
  list-style: none;
}

.nav_btn_div{
  display: flex;
  align-items: center;
  gap: 25px;
}

.navigation__link a{
  color: $color-black;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
      color: $color-primary;
  }
}

.header__navigation {
  @include media-tablet {
      display: none;
  }
}