.header {
  background: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-tablet {
      padding-left: 24px;
  }
}

.header__button {
  @include media-mobile {
      display: none;
  }
}

.nav_btn_div{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo{
  padding-top: 6px;
}